<p>pip install notebook
after installation --in cmd --> jupyter notebook or python -m notebook </p>

In [2]:
print("Hello")
# notebook is used to run code in a cell and see the output immediately below the cell.

Hello

In [3]:
a=10
b=20
print(a+b)

30

In [4]:
a

10

In [5]:
a
b

20

<p>pip install pandas</p>

In [8]:
# pandas is used to clean, transform and analyze data and also handle structured data.
import pandas as pd

In [9]:
a = 20

In [10]:
print(a)

20

In [11]:
a = 10

In [12]:
print(a)

10

In [13]:
b = 20
a + b

30

In [14]:
# pandas give us 2 main data structures:
# series - a labeled 1D array.
# DataFrame - a labeled 2D array.

In [15]:
# Pandas Series (1D) 

s = pd.Series([10,20,23,56,34,22])
s

0    10
1    20
2    23
3    56
4    34
5    22
dtype: int64

In [16]:
s1 = pd.Series([12, True, 'Prachi', 100, 5.3])
s1

0        12
1      True
2    Prachi
3       100
4       5.3
dtype: object

In [17]:
s2 = pd.Series([i for i in range(0,20)])
s2

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int64

In [18]:
s3 = pd.Series([i**2 for i in range(0,20)], index = [i for i in range(0,20)])
s3

0       0
1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
dtype: int64

In [19]:
s4 = pd.Series(data = [23, True, 'Prachi', 100, 6.5], index = [ 'a', 'b', 'c', 'd', 'e' ])
s4

# Index is NOT just numbering. It is a label.

a        23
b      True
c    Prachi
d       100
e       6.5
dtype: object

In [20]:
s3.head() #by default first 5

0     0
1     1
2     4
3     9
4    16
dtype: int64

In [21]:
s3.tail() #by default last 5

15    225
16    256
17    289
18    324
19    361
dtype: int64

In [22]:
s3.head(2)

0    0
1    1
dtype: int64

In [23]:
s3.shape

# .shape tells the dimensions of the data structure. It returns a tuple
# series is 1D. It only has number of rows. here 20 values

(20,)

## Accessing Data in Series

### Normal Slicing

In [24]:
# Values of Series can be accessed using normal list slicing []
s2[:3]

0    0
1    1
2    2
dtype: int64

In [25]:
s1[:2]

0      12
1    True
dtype: object

In [26]:
s4.b

# this works because index is not just numbering but it is label

True

### .loc - label based 
<p> This works on labels and includes end </p>
<p>.loc[:'n'] : selects from label start to label 'n'. It does on indices when no labe;s are assigned, but if labels are assigned then only on labels. </p>

In [29]:
s4.loc[:'b']

a      23
b    True
dtype: object

In [30]:
s3.loc[:5]

0     0
1     1
2     4
3     9
4    16
5    25
dtype: int64

## .iloc - index position based
<p>This works like normal Python slicing. .iloc excludes the end value. </p>

In [31]:
s4.iloc[:2]

a      23
b    True
dtype: object

In [32]:
s3.iloc[:5]

0     0
1     1
2     4
3     9
4    16
dtype: int64

# Conditions 
## step 1 - condition creates Boolean Series

In [33]:
s2 > 5

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
dtype: bool

## step 2 - Boolean Masking

In [34]:
s2[s2 > 5]

6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int64

<p>This selects only True rows.</p>

# Multiple Conditions

In [35]:
s2[(s2 > 5) & (s2 < 15)]

6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

<p>Must use & instead of and, | instead of or. Because this is vectorized operation on arrays.</p>

# betweem()

In [37]:
s2[s2.between(5,15)]

5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
dtype: int64

<p>we can use inclusive in between() to define which limit do we want to include in the condition</p>

In [38]:
s2[s2.between(5,15, inclusive='right')]

6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
dtype: int64

In [39]:
s2[s2.between(5,15, inclusive='left')]

5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [40]:
s2[s2.between(5,15, inclusive='both')]

5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
dtype: int64

# isin()
<p>checks if value exists in list.</p>

In [43]:
s2.isin([5])

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [44]:
s2[s2.isin([5])]

5    5
dtype: int64

In [45]:
s2[s2.isin([30])]

Series([], dtype: int64)