# Data Science Class 3

## DataFrame
<p> - 2D data, that is rows and columns in the form of tables</p>

In [2]:
import pandas as pd

In [3]:
data = pd.DataFrame([12,23,56,45])

In [4]:
data

    0
0  12
1  23
2  56
3  45

In [5]:
data2 = pd.DataFrame([[12,23,34,45]])

In [6]:
data2

    0   1   2   3
0  12  23  34  45

In [7]:
data3 = pd.DataFrame([[12,23,34,45,56], [56,67,78,89,90]])

In [8]:
data3

    0   1   2   3   4
0  12  23  34  45  56
1  56  67  78  89  90

## DataFrame using Dictionary